 .stock-list {
  width: 1600px;
  padding: 20px;
  margin-left: 250px;
  border-radius: 5px;
}
  
  .filter-section {
    margin-top: 100px;
    margin-bottom: 20px;
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(3, 1fr);
   }
     
.filter-section input {
  padding: 10px;
  margin-right: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
  
  .stock-list table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .stock-list th, td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: left;
  }
  
  .stock-list th {
    background-color: #f2f2f2;
  }