/* App.css */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.container {
    display: flex;
    height: 100vh;
    max-width: 2000px;
    width: 100%;
    background: linear-gradient(90deg, #6a1b9a 50%, #ffffff 50%);
}
.left {
    margin-top: 100px;
    font-size: 100px;
    flex: 1;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.left img {
    width: 900px;
    margin-bottom: 20px;
}

.left h1 {
    font-size: 2.5rem;
    margin: 10px 0;
}

.left p {
    font-size: 1.2rem;
}

.right {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    padding: 20px;
}

.right h2 {
    font-size: 2.5rem;
    font-weight: 700;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-bottom: 20px;
    color: #6a1b9a;
}

form {
    width: 80%;
    max-width: 400px;
    display: flex;
    flex-direction: column;
}
.SignupForm input{
    margin-bottom: 15px;
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ddd;
    border-radius: 15px;
}

.container button + button {
    margin-top: -60px;
    margin-left: 220px;
}

.SignupForm button {
    height: 60px;
    width: 180px;
    padding: 8px;
    font-size: 14px;
    background-color: #6a1b9a;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.SignupForm button:hover {
    background-color: #4a148c;
}

.social-links {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 50px;
}

.social-links a {
    font-size: 2rem;
    text-decoration: none;
    color: #6a1b9a;
    transition: color 0.3s ease;
}

.social-links a:hover {
    color: #4a148c;
}
.SignupForm small{ 
    margin-top: 20px;
    margin-left: 150px;
}