.export-buttons button {
    width: 200px;
    height: 45px;
    padding: 8px 20px;
    font-size: 20px;
    font-weight: bold;
    color: #fff;
    background-color: #7d4cdb;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }